<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="static/css/ionicons.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/owl.theme.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <!-- <body background='images/newpaper.jpg');></body> -->
 
  <style>
    body {
      background-image: url('static/img/news1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
 
    <!-- <p style="background-image: url('https://lh3.googleusercontent.com/chat_attachment/AJh6FprwRsLbqwo2J_KOU4yYtJ8R70NRJukAkAQOla3V-V57h5cC710TKz8MVyEJg7t6_w75_OAo2d6W9rq0sQiFa58vlK7d2rgoa82IaWJzi7Rg4ERaw8aAOBpCseX1Ac9TXPXkjXFWZrsDviczygEFtMpO615_ROjuCrRY8PiWTEopHdsCi0pkNMyz3MQnBMPBWqmfQ53bn7xezZQ84DwEMxgk11cHFTdX8SSgbz8HaD-rnRvmHFY1nALSmA8fz5RV6bTeXhEztFFK=w512');"></p> -->
    <section id="introduction" >
      <div id="home-slider" class="owl-carousel">
        <div class="sliding-card-with-bottom-image text-center padding-top-90">
          <h2 class="cta-heading text-white" style="font-family: 'Rubik', sans-serif">Bias Begone!</h2>
          <!-- <p style="background-color:rgba(12, 22, 56, 0.5)" class="text-white slider-para">Genius idea to eliminate inflammatory words and replace them with neutral-indicating ones</p> -->
          <p class="text-white slider-para" style="padding-left:200px; padding-right:200px; font-family: 'Rubik', sans-serif;">Ever wonder how biased the media you consume is? Try our free bias analyzer to learn more about the bias in the news you read, and get a less emotionally inflammatory version that we generate for you.</p>
          <div class="cta-btn-group">
            <form action="/data" method = "POST">
            <a class="btn-video text-white">Enter Your Article Here: <input type = "text" name = "Article" /></a>
            <input class="btn btn-orange border-none btn-rounded-corner class="icon-on-button" class="ion-ios-arrow-thin-right"type = "submit" value = "submit" /></i><!-- Put the application here -->
            </form>
          </div>
          <br>
          <p></p>
          <p class="cta-heading text-white" style="font-family: 'Rubik', sans-serif"> Example Article From CNN Politics to Try</p>
          <p class="cta-heading text-white" style="font-family: 'Rubik', sans-serif">North Carolina Democrats hope former judge can halt Senate losing streak in pro-GOP environment | CNN Politics

And her campaign rolled out an ad earlier this month that highlighted a slew of Republican, independent, and Democrat judges backing Beasley’s candidacy.
“As judges, our job is not about politics. It’s about standing up for what’s right,” the judges say in the spot.
“Voters don’t think judges are politicians,” said Morgan Jackson, a longtime Democrat strategist in North Carolina. “And what Beasley has been able to do on her campaign and her paid ads is say, ‘I have spent my career looking unbiased at an issue and making a decision based on law.’ That is something voters are craving in this environment of polarization.”
</p>
        </div>
    </section>
   
   
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
